.container {
  max-width: 98%;
  padding: 10px;
  height: 100vh;
  overflow: hidden;
}

.card {
  margin-bottom: 10px !important;
}

.card,
.card-body,
.card-header {
  padding: 10px !important;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 10px !important;
}

h4 {
  font-size: 1rem;
  margin-bottom: 10px !important;
}

.form-control,
.form-select {
  height: 34px;
  font-size: 13px;
  padding: 4px 8px;
}

.form-label {
  font-size: 12px;
  margin-bottom: 2px;
}

.form-check-label {
  font-size: 13px;
}

.btn {
  height: 34px;
  font-size: 13px;
  padding: 4px 10px;
}

table {
  font-size: 12px;
  margin-bottom: 0;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  padding: 6px !important;
}

tr.mat-mdc-row {
  height: 36px !important;
}

.mat-mdc-paginator {
  min-height: 40px !important;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.formulario-fixo {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
}

.filtros-card {
  position: sticky;
  top: 200px;
  z-index: 999;
  background: #fff;
}

.card-lista {
  position: sticky;
  top: 300px;
  z-index: 998;

  background: #fff;

  height: calc(100vh - 315px);

  display: flex;
  flex-direction: column;
}

.lista-scroll {
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
}

.mat-mdc-header-row {
  position: sticky;
  top: 0;
  z-index: 20;
  background: #fff;
}

.mat-mdc-header-cell {
  background: #fff;
}

.lista-scroll::-webkit-scrollbar {
  width: 8px;
}

.lista-scroll::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 10px;
}

.lista-scroll::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}