/* CONTAINER */

.container {
  max-width: 98%;
  padding: 10px;
}

/* CARDS */

.card {
  margin-bottom: 10px !important;
}

.card-body,
.card,
.card-header {
  padding: 10px !important;
}

/* TÍTULOS */

h3 {
  font-size: 1.2rem;
  margin-bottom: 10px !important;
}

h4 {
  font-size: 1rem;
  margin-bottom: 10px !important;
}

/* INPUTS */

.form-control,
.form-select {
  height: 34px;
  font-size: 13px;
  padding: 4px 8px;
}

.form-label {
  font-size: 12px;
  margin-bottom: 2px;
}

/* CHECKBOX */

.form-check-label {
  font-size: 13px;
}

/* BOTÕES */

.btn {
  height: 34px;
  font-size: 13px;
  padding: 4px 10px;
}

/* TABELA */

table {
  font-size: 12px;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  padding: 6px !important;
}

tr.mat-mdc-row {
  height: 36px !important;
}

/* PAGINADOR */

.mat-mdc-paginator {
  min-height: 40px !important;
}

/* REMOVE SCROLL DA PÁGINA */

html,
body {
  overflow: hidden;
  height: 100%;
}

/* SCROLL APENAS NA TABELA */

.tabela-scroll {
  max-height: 55vh;
  overflow-y: auto;
}